{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<form method="post" action="{{ url_for('index') }}">
  <dl>
    {{ render_field(form.canalId) }}
  </dl>
  <p><input type="submit" value="Register">
</form>

<table>
	<tr>
		<th colspan="2">Canais</th>
	</tr>
	<tr>
		<th>Título</th>
		<th>Última Atualização</th>
	</tr>
	{% for canal in lista %}
	<tr>
		<td>
			<a href="{{ url_for('list_last_videos', channelId = canal.id) }}">{{ canal.titulo }}</a>
		</td>
		<td>{{ canal.data_ultima_consulta }}</td>
	</tr>
	{% endfor %}
</table>

<ul>
	<li>
		<a href="{{ url_for('status_download')}}">Status Downloads</a>
	</li>
</ul>

{% endblock %}