{% extends "layout.html" %}
{% block body %}
	<h2>Canal {{ canal.titulo }}</h2>

	<table>
		<tr>
			<th>Video Id</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
		{% for video in videos %}
		<tr>
			<td>{{ video.id_unico }}</td>
			<td>{{ video.descricao }}</td>
			<td><a href="/mark_to_download/{{video.id}}">Marque para Download</a></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}