{% extends "layout.html" %}
{% block body %}
	<table>
		<tr>
			<th>Canal</th>
			<th>Descrição</th>
			<th>Opções</th>
		</tr>
	{% for video in resultados %}
		<tr>
			<td>{{ video.canal.id_unico }}</td>
			<td>{{ video.descricao }}</td>
			<td><a href="{{ url_for('extract_video', videoId = video.id_unico)}}">Fazer Download</a></td>
		</tr>
	{%endfor %}
	</table>
{% endblock %}